@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><b> Welcome To Innovative Techology Recruitment</b></h1>
    <h4>This illustrates our recruitment process conducted by HR to select the best candidates for our I.T department</h4>
</div>
